.wu{
  text-align: center;
  font-size: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 30px;
}
.bxs{display: none!important;}
.xs{display: block!important;}
