@charset "utf-8";
.wbk {
	max-width: 700px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #f5f5f5;
}
.wbk h2 {
	font-size: 14px;
	display: block;
	font-weight: normal;
	text-align: center;
	line-height: 40px;
}
.wbk .xynr {
	color: #999;
	font-size: 14px;
	text-indent: 2em;
}
.dban {
	height: 50px;
	background-color: #FFF;
	width: 100%;
	position: fixed;
	bottom: 0px;
}
.dban span {
	display: block;
	width: 60px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #FFF;
	background-color: #CCC;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
}
